In [1]:
import pandas as pd
import numpy as np

In [2]:
path='bengaluru_house_prices.csv'
df=pd.read_csv(path)
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [3]:
df.shape

(13320, 9)

In [4]:
df.groupby("area_type")["area_type"].agg("count")

area_type
Built-up  Area          2418
Carpet  Area              87
Plot  Area              2025
Super built-up  Area    8790
Name: area_type, dtype: int64

In [5]:
df1=df.drop(["area_type","availability","society"],axis=1)
df1.head(10)

                   location       size total_sqft  bath  balcony   price
0  Electronic City Phase II      2 BHK       1056   2.0      1.0   39.07
1          Chikka Tirupathi  4 Bedroom       2600   5.0      3.0  120.00
2               Uttarahalli      3 BHK       1440   2.0      3.0   62.00
3        Lingadheeranahalli      3 BHK       1521   3.0      1.0   95.00
4                  Kothanur      2 BHK       1200   2.0      1.0   51.00
5                Whitefield      2 BHK       1170   2.0      1.0   38.00
6          Old Airport Road      4 BHK       2732   4.0      NaN  204.00
7              Rajaji Nagar      4 BHK       3300   4.0      NaN  600.00
8              Marathahalli      3 BHK       1310   3.0      1.0   63.25
9              Gandhi Bazar  6 Bedroom       1020   6.0      NaN  370.00

In [6]:
df1.isnull().sum()

location        1
size           16
total_sqft      0
bath           73
balcony       609
price           0
dtype: int64

In [7]:
df1["balcony"]=df1["balcony"].fillna(df1["balcony"].mean())
df1["bath"]=df1["bath"].fillna(df1["bath"].mean())

In [8]:
df1=df1.dropna()

In [9]:
df1.isnull().sum()

location      0
size          0
total_sqft    0
bath          0
balcony       0
price         0
dtype: int64

In [10]:
df1.shape

(13303, 6)

In [11]:
df1["BHK"]=df1["size"].apply(lambda x: int(x.split(' ')[0]))
df2=df1.drop(["size"],axis=1)
df2.head()

                   location total_sqft  bath  balcony   price  BHK
0  Electronic City Phase II       1056   2.0      1.0   39.07    2
1          Chikka Tirupathi       2600   5.0      3.0  120.00    4
2               Uttarahalli       1440   2.0      3.0   62.00    3
3        Lingadheeranahalli       1521   3.0      1.0   95.00    3
4                  Kothanur       1200   2.0      1.0   51.00    2

In [12]:
df2["BHK"].unique()

array([ 2,  4,  3,  6,  1,  8,  7,  5, 11,  9, 27, 10, 19, 16, 43, 14, 12,
       13, 18], dtype=int64)

In [13]:
df2[df2.BHK>20]

                       location total_sqft  bath  balcony  price  BHK
1718  2Electronic City Phase II       8000  27.0      0.0  230.0   27
4684                Munnekollal       2400  40.0      0.0  660.0   43

So we need to find the histogram for total_sqft to find such outliers. So we need to confirm that the values are single numbers

In [14]:
df2["total_sqft"].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [15]:
def is_float(x):
  try:
    float(x)
  except:
    return False
  return True

In [16]:
df2[~df2["total_sqft"].apply(is_float)]

                 location   total_sqft     bath   balcony    price  BHK
30              Yelahanka  2100 - 2850  4.00000  0.000000  186.000    4
56            Devanahalli  3010 - 3410  2.69261  1.584376  192.000    4
81            Hennur Road  2957 - 3450  2.69261  1.584376  224.500    4
122                Hebbal  3067 - 8156  4.00000  0.000000  477.000    4
137    8th Phase JP Nagar  1042 - 1105  2.00000  0.000000   54.005    2
...                   ...          ...      ...       ...      ...  ...
12990      Talaghattapura  1804 - 2273  3.00000  0.000000  122.000    3
13059              Harlur  1200 - 1470  2.00000  0.000000   72.760    2
13240         Devanahalli  1020 - 1130  2.69261  1.584376   52.570    1
13265               Hoodi  1133 - 1384  2.00000  0.000000   59.135    2
13299          Whitefield  2830 - 2882  5.00000  0.000000  154.500    4

[239 rows x 6 columns]

Some of the values of total_sqft are in ranges and string

In [17]:
def convert_range_to_float(x):
  tokens=x.split("-")
  if len(tokens)==2:
    return (float(tokens[0])+float(tokens[1]))/2
  try:
    return float(x)
  except:
    return None

In [18]:
df2["total_sqft"]=df2["total_sqft"].apply(convert_range_to_float)

In [19]:
df2.iloc[776]

location      Hosakerehalli
total_sqft           2376.0
bath                    3.0
balcony                 1.0
price                 203.0
BHK                       3
Name: 778, dtype: object

In [20]:
df2.head(10)

                   location  total_sqft  bath   balcony   price  BHK
0  Electronic City Phase II      1056.0   2.0  1.000000   39.07    2
1          Chikka Tirupathi      2600.0   5.0  3.000000  120.00    4
2               Uttarahalli      1440.0   2.0  3.000000   62.00    3
3        Lingadheeranahalli      1521.0   3.0  1.000000   95.00    3
4                  Kothanur      1200.0   2.0  1.000000   51.00    2
5                Whitefield      1170.0   2.0  1.000000   38.00    2
6          Old Airport Road      2732.0   4.0  1.584376  204.00    4
7              Rajaji Nagar      3300.0   4.0  1.584376  600.00    4
8              Marathahalli      1310.0   3.0  1.000000   63.25    3
9              Gandhi Bazar      1020.0   6.0  1.584376  370.00    6

In [21]:
df2["price_per_sqft"]=(df2["price"]*100000)/df2["total_sqft"]
df2.head()

,location,total_sqft,bath,balcony,price,BHK,price_per_sqft
0,Electronic City Phase II,1056.0,2.0,1.0,39.07,2,3699.810606
1,Chikka Tirupathi,2600.0,5.0,3.0,120.00,4,4615.384615
2,Uttarahalli,1440.0,2.0,3.0,62.00,3,4305.555556
3,Lingadheeranahalli,1521.0,3.0,1.0,95.00,3,6245.890861
4,Kothanur,1200.0,2.0,1.0,51.00,2,4250.000000

Removing rows that is not quite correct like a threshold is set here it is 300(specifying the minimum sqft of each room must be greater than threshold if not remove it.)

In [22]:
df2.location = df2.location.apply(lambda x: x.strip())
location_stats = df2['location'].value_counts(ascending=False)
location_stats

Whitefield                        540
Sarjapur  Road                    397
Electronic City                   304
Kanakpura Road                    273
Thanisandra                       237
                                 ...
Vasantapura main road               1
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
Abshot Layout                       1
Name: location, Length: 1293, dtype: int64

In [23]:
location_stats_less_than_10 = location_stats[location_stats<=10]
location_stats_less_than_10

Dairy Circle                      10
Nagappa Reddy Layout              10
Basapura                          10
1st Block Koramangala             10
Sector 1 HSR Layout               10
                                  ..
Vasantapura main road              1
Bapuji Layout                      1
1st Stage Radha Krishna Layout     1
BEML Layout 5th stage              1
Abshot Layout                      1
Name: location, Length: 1052, dtype: int64

In [24]:
df2.location = df2.location.apply(lambda x: 'other' if x in location_stats_less_than_10 else x)
len(df2.location.unique())

242

In [25]:
df2.shape

(13303, 7)

In [26]:
df2[~(df2["total_sqft"]/df2["BHK"]>300)]

,location,total_sqft,bath,balcony,price,BHK,price_per_sqft
9,other,1020.0,6.0,1.584376,370.0,6,36274.509804
45,HSR Layout,600.0,9.0,1.584376,200.0,8,33333.333333
58,Murugeshpalya,1407.0,4.0,1.000000,150.0,6,10660.980810
68,Devarachikkanahalli,1350.0,7.0,0.000000,85.0,8,6296.296296
70,other,500.0,3.0,2.000000,100.0,3,20000.000000
...,...,...,...,...,...,...,...
13281,Margondanahalli,1375.0,5.0,1.000000,125.0,5,9090.909091
13300,Hosakerehalli,1500.0,6.0,2.000000,145.0,5,9666.666667
13303,Vidyaranyapura,774.0,5.0,3.000000,70.0,5,9043.927649
13306,other,1200.0,5.0,1.584376,325.0,4,27083.333333
13311,Ramamurthy Nagar,1500.0,9.0,2.000000,250.0,7,16666.666667

In [27]:
df3=df2[(df2["total_sqft"]/df2["BHK"]>300)]
df3.shape

(12331, 7)

In [28]:
df3["total_sqft"].describe()

count    12331.000000
mean      1600.262934
std       1268.934519
min        340.000000
25%       1115.000000
50%       1305.000000
75%       1705.500000
max      52272.000000
Name: total_sqft, dtype: float64

Now removing outliers such that in a particular location if the price_per_sqft is greater than 1 standard deviation or less than 1 standard deviation.

In [29]:
def remove_price_ps_otlier(df):
  df_new=pd.DataFrame()
  for key,subdf in df.groupby("location"):
    m=np.mean(subdf.price_per_sqft)
    s=np.std(subdf.price_per_sqft)
    df_temp=subdf[(subdf.price_per_sqft>(m-s)) & (subdf.price_per_sqft<=(m+s))]
    df_new=pd.concat([df_new,df_temp],ignore_index=True)
  return df_new

In [30]:
df4=remove_price_ps_otlier(df3)
df4.shape

(10065, 7)

In [31]:
df4[df4["bath"]>10]

            location  total_sqft  bath   balcony  price  BHK  price_per_sqft
5171  Neeladri Nagar      4000.0  12.0  1.584376  160.0   10     4000.000000
8355           other     12000.0  12.0  1.584376  525.0   10     4375.000000
8440           other     10000.0  16.0  1.584376  550.0   16     5500.000000
9154           other      6000.0  12.0  1.584376  150.0   11     2500.000000
9479           other      5425.0  13.0  0.000000  275.0   13     5069.124424

Setting a threshold for the number of bathroom. Such that bathroom count can't exceed grater than number of bedrooms+2.

In [32]:
df5=df4[df4["bath"]<=(df4["BHK"]+2)]

In [33]:
df5.head()

              location  total_sqft  bath  balcony  price  BHK  price_per_sqft
0  1st Block Jayanagar      2850.0   4.0      1.0  428.0    4    15017.543860
1  1st Block Jayanagar      1630.0   3.0      2.0  194.0    3    11901.840491
2  1st Block Jayanagar      1875.0   2.0      3.0  235.0    3    12533.333333
3  1st Block Jayanagar      1200.0   2.0      0.0  130.0    3    10833.333333
4  1st Block Jayanagar      1235.0   2.0      2.0  148.0    2    11983.805668

In [34]:
def remove_bhk_outliers(df):
    exclude_indices = np.array([])
    for location, location_df in df.groupby('location'):
        bhk_stats = {}
        for bhk, bhk_df in location_df.groupby('BHK'):
            bhk_stats[bhk] = {
                'mean': np.mean(bhk_df.price_per_sqft),
                'std': np.std(bhk_df.price_per_sqft),
                'count': bhk_df.shape[0]
            }
        for bhk, bhk_df in location_df.groupby('BHK'):
            stats = bhk_stats.get(bhk-1)
            if stats and stats['count']>5:
                exclude_indices = np.append(exclude_indices, bhk_df[bhk_df.price_per_sqft<(stats['mean'])].index.values)
    return df.drop(exclude_indices,axis='index')
df6 = remove_bhk_outliers(df5)
df6.shape

(7194, 7)

Dropping the features that don't have use further.

In [35]:
df7=df6.drop(["price_per_sqft"],axis=1)

In [36]:
dummies=pd.get_dummies(df7["location"])
dummies.head()

,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,2nd Stage Nagarbhavi,5th Block Hbr Layout,5th Phase JP Nagar,6th Phase JP Nagar,7th Phase JP Nagar,8th Phase JP Nagar,9th Phase JP Nagar,...,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur,other
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [37]:
df8=pd.concat([df7.drop(["location","balcony"],axis=1),dummies.drop(["other"],axis=1)],axis=1)
df8.head(10)

,total_sqft,bath,price,BHK,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,2nd Stage Nagarbhavi,5th Block Hbr Layout,5th Phase JP Nagar,...,Vijayanagar,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur
0,2850.0,4.0,428.0,4,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1630.0,3.0,194.0,3,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1875.0,2.0,235.0,3,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1200.0,2.0,130.0,3,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1235.0,2.0,148.0,2,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,2750.0,4.0,413.0,4,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,2450.0,4.0,368.0,4,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,1875.0,3.0,167.0,3,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,2065.0,4.0,210.0,3,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,2059.0,3.0,225.0,3,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [38]:
X=df8.drop(["price"],axis=1)
Y=df8["price"]

In [39]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=50)

In [40]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(X_train,Y_train)

LinearRegression()

In [41]:
lr.score(X_train,Y_train)

0.8489769262576687

In [42]:
lr.score(X_test,Y_test)

0.8747418511168512

In [43]:
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_score

cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)

cross_val_score(LinearRegression(), X, Y, cv=cv)

array([0.85692539, 0.86243298, 0.79552428, 0.85200836, 0.89400039])

In [44]:
from sklearn.model_selection import GridSearchCV

from sklearn.linear_model import Lasso
from sklearn.tree import DecisionTreeRegressor

def find_best_model_using_gridsearchcv(X,y):
    algos = {
        'linear_regression' : {
            'model': LinearRegression(),
            'params': {
            }
        },
        'lasso': {
            'model': Lasso(),
            'params': {
                'alpha': [1,2],
                'selection': ['random', 'cyclic']
            }
        },
        'decision_tree': {
            'model': DecisionTreeRegressor(),
            'params': {
                'criterion' : ['mse','friedman_mse'],
                'splitter': ['best','random']
            }
        }
    }
    scores = []
    cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)
    for algo_name, config in algos.items():
        gs =  GridSearchCV(config['model'], config['params'], cv=cv, return_train_score=False)
        gs.fit(X,y)
        scores.append({
            'model': algo_name,
            'best_score': gs.best_score_,
            'best_params': gs.best_params_
        })

    return pd.DataFrame(scores,columns=['model','best_score','best_params'])

find_best_model_using_gridsearchcv(X,Y)

C:\Users\DELL\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:425: FitFailedWarning:
10 fits failed out of a total of 20.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
10 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\DELL\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 729, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\DELL\anaconda3\lib\site-packages\sklearn\base.py", line 1145, in wrapper
    estimator._validate_params()
  File "C:\Users\DELL\anaconda3\lib\site-packages\sklearn\base.py", line 638, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\DELL\anaconda3\lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of DecisionTreeRegressor must be a str among {'absolute_error', 'squared_error', 'friedman_mse', 'poisson'}. Got 'mse' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\DELL\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:979: UserWarning: One or more of the test scores are non-finite: [       nan        nan 0.72434815 0.72582957]
  warnings.warn(

,model,best_score,best_params
0,linear_regression,0.852178,{}
1,lasso,0.722944,"{'alpha': 1, 'selection': 'random'}"
2,decision_tree,0.725830,"{'criterion': 'friedman_mse', 'splitter': 'ran..."

In [45]:
import pickle
with open("bengluru_price_model.pickle","wb") as f:
  pickle.dump(lr,f)

In [46]:
import json
columns={
    "data_columns":[col.lower() for col in X.columns]
}
with open("columns.json","w") as f:
  f.write(json.dumps(columns))